{namespace se=Slub\SlubEvents\ViewHelpers}
<p>{f:translate(key: 'text.salutation', extensionName: 'slub_events')} {subscriber.name},</p>

<p><f:translate key='text.cancelation.notenoughparticipants' extensionName="slub_events"/></p>

<p><strong>{event.title}</strong></p>

<p>
	<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />"/>
</p>

<f:if condition="{helper.location}">
	<f:then>
		<p><strong>{f:translate(key: 'tx_slubevents_domain_model_location', extensionName: 'slub_events')}:</strong><br/>{helper.location}</p>
		<f:format.html parseFuncTSPath="">{event.location.description}</f:format.html>
	</f:then>
</f:if>

<p><f:translate key='text.cancelation.outro.short' extensionName="slub_events"/></p>

<p>
	<f:translate key='text.closing' extensionName="slub_events"/>
</p>
<p>&nbsp;</p>
<p>{event.contact.name} <br/>
	<f:translate key='text.signature' extensionName="slub_events"/>
</p>
