{namespace se=Slub\SlubEvents\ViewHelpers}
<p>
	<f:translate key='text.salutation' extensionName="slub_events"/>
	{subscriber.name},
</p>

<p><f:translate key='text.notification.intro' extensionName="slub_events"/></p>

<p><strong>{event.title}</strong> <br/>
	<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />"/>
</p>

<f:format.raw>{emailBody}</f:format.raw>

<p>
	<f:translate key='text.closing' extensionName="slub_events"/>
</p>
<p>&nbsp;</p>
<p>
	<f:translate key='text.signature' extensionName="slub_events"/>
</p>
